package-manager=pnpm
enable-pre-post-scripts=true
audit-level=moderate
fund=false
loglevel=info # silent, error, warn, info, verbose
shamefully-hoist=true
strict-peer-dependencies=false
prefer-frozen-lockfile=true
auto-install-peers=true
